<p>
  <b>Comment author:</b>
  <%= comment.commenter %>
</p>
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>
<p>
  <b>Created at:</b>
  <%= comment.created_at %>
</p>
<% if can_destroy_comment(comment.post) %>
  <p>
    <%= link_to 'Destroy Comment', [comment.post, comment], :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>
